body {
    font-family: "Overpass", sans-serif;
    font-weight: 400;
}

@media screen {
    body {
        margin: 1rem 15% 1rem 15%;
        background-color: #f3f3f3;
        color: #333;
    }
}

a {
    transition-duration: 500ms;
    text-decoration: none;
    color: inherit;
}
a::before {
    content: "→";
}
a:hover{
    background-color: #ddd;
}


.char {
    margin-top: 3rem;
    margin-bottom: 0;
}
h3 {
    margin-top: 3rem;
}

blockquote {
    border-left: 0.5rem solid #ccc;
    margin-top: 0;
    margin-left: 0;
    padding-left: 1rem;
    font-family: monospace;
    font-size: 16pt;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dialog {
    font-family: "Noto Serif", serif;
}

.scene {
    break-before: always;
}

.lyrics-title {
    margin-bottom: 0;
}
